.chat-screen {
    background-color: #5ba565;
    height: 5000vh;
}

.chat__title {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px var(--space);
    padding-top: 50px;
    width: 90%;
    background-color: #5ba565;
}

.chat__title-column {
    font-size: 30px;
}

.chat__title-column a {
    position: relative;
    color: inherit;
    z-index: 0;
}

.chat__title-column:first-child {
    margin-right: auto;
}

.chat__title-column:nth-child(2) {
    text-align: center;
    padding-left: 80px;
}

.chat__title-column:last-child {
    margin-left: auto;
    justify-content: flex-end;
}

.chat__title-column:last-child i {
    padding-left: 15px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.chat__time {
    position: relative;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
    animation: appear 0.5s linear forwards;
    z-index: -100;
}

.chat__time span {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 40px;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.chat__since {
    display: flex;
    margin-left: var(--space);
    margin-bottom: 15px;
    animation: fadeInFromLeft 0.5s linear forwards;
    transform: translateX(-100px);
}

@keyframes fadeInFromRight {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.chat__to {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-right: var(--space);
    margin-bottom: 15px;
    transform: translateX(100px);
    animation: fadeInFromRight 0.5s linear forwards;
}

.chat__since-img img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.chat__since-name {
    margin-left: 5px;
}

.chat__since-text {
    display: flex;
}

.chat__since-text h4,
.chat__to-text h4 {
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    margin-top: 10px;
}

.chat__since-text h4 {
    border-top-left-radius: 0;
}

.chat__to-text h4 {
    border-top-right-radius: 0;
}

.chat__since-time,
.chat__to-time {
    font-size: 12px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.chat__text-box {
    background-color: white;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.chat__text-box-plus {
    margin-left: var(--space);
    width: 10%;
}

.chat__text-box-plus i,
.chat__text-box-chatbox i {
    font-size: 25px;
    opacity: 0.5;
    cursor: pointer;
}

.chat__text-box-chatbox {
    margin-right: var(--space);
    display: flex;
    width: 90%;
    position: relative;
}

.chat__text-box-chatbox input {
    font-size: 18px;
    margin: 6px 0px;
    height: 35px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.chat__text-box-chatbox > i,
.chat__text-box-chatbox button {
    position: absolute;
}

.chat__text-box-chatbox > i {
    right: 50px;
    bottom: 15px;
}

.chat__text-box-chatbox button {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    bottom: 10px;
    background-color: var(--blue);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.chat__text-box-chatbox button i {
    opacity: 1;
}

.chat__text-box button:focus,
.chat__text-box button:active {
    outline: none;
}

.chat__text-box .chat__text-box-plus,
.chat__text-box .fa-face-smile,
.chat__text-box button {
    transition: all 0.4s ease-in-out;
}

.chat__text-box:focus-within .chat__text-box-plus,
.chat__text-box:focus-within .fa-face-smile,
.chat__text-box:focus-within button {
    opacity: 0;
    transform: translateY(50px);
}

.chat__text-box:focus-within input {
    transform: translateX(-5%) translateY(-60px);
}

.chat__text-box:focus-within {
    transform: translateY(60px);
}