.more-screen__first {
    justify-content: space-between;
}

.more-screen__first,
.more-screen__second {
    display: flex;
    margin-top: 40px;
    margin-left: var(--space);
    margin-right: var(--space);
}

.more-screen__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-screen__list i {
    display: block;
    font-size: 35px;
    margin-bottom: 10px;
}

.more-screen__list span {
    display: flex;
}

.more-screen__icons:nth-child(2) {
    position: relative;
}

.more-screen__icons-second-row {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
}

.more-screen__suggestions-title {
    border-top: var(--border);
    margin-top: 45px;
    padding-top: var(--space);
    font-size: 18px;
}

.more-screen__suggestions-icons {
    display: flex;
    justify-content: flex-start;
}

.more-screen__suggestions-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px var(--space);
    margin-top: var(--space);
}

.more-screen__suggestions-icon img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-bottom: 15px;
}

.more-screen__suggestions-icon span {
    color: rgba(0, 0, 0, 0.5);
}