.duplicate-title {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.duplicate-title__detail {
    width: 50%;
    margin-left: 25px;
    font-size: 30px;
    font-weight: 600;
}

.duplicate-title__detail-icons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.duplicate-title__detail-icons i {
    margin-right:var(--space);
}

.duplicate-title__detail-icon a {
    color: inherit;
}

.duplicate-title__gear {
    position: relative;
}

.duplicate-title__detail-icon span {
    display: flex;
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: var(--light-blue);
    border-radius: 50%;
    right: 20px;
    top: -5px;
}