.nav {
    position: fixed;
    background-color: #F9F9FA;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

@keyframes btnAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.nav-list__icon {
    transform: translateY(50px);
    font-size: 25px;
    animation: btnAnimation 0.2s linear forwards;
}

.nav-list__btn a {
    color: inherit;
}

.nav-list__btn {
    position: relative;
}

.nav-list__notification {
    position: absolute;
    background-color: var(--blue);
    color: white;
    font-size: 17px;
    width: 17px;
    height: 17px;
    text-align: center;
    border-radius: 50%;
    top: -5px;
    left: 17px;
}

.nav-list__alarm {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--blue);
    border-radius: 50%;
    top: -5px;
}

.nav-list__icon:nth-child(2) {
    animation-delay: 0.2s;
}

.nav-list__icon:nth-child(3) {
    animation-delay: 0.4s;
}

.nav-list__icon:last-child {
    animation-delay: 0.6s;
}