.top-bar {
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 3px;
    justify-content: space-between;
}

.top-bar__column {
    display: flex;
}

.top-bar__column span {
    display: flex;
    font-size: 16px;
    font-weight: 600;
}

.top-bar__column i {
    display: flex;
    align-items: center;
    margin: 0px 3px;
}